{% extends 'base.html.twig' %}

{% block title "Édit" %}

{% block body %}

    <h1>Modification</h1>

    {% include 'equipment/form.html.twig' %}

{% endblock %}

{% block importmap %}
    {{ importmap(['app', 'equipment_form']) }}
{% endblock %}
