
@import "./kyudo_graphic_charter/variables.css";

.bg-kyudo-login {
  background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('../pictures/login.JPG');
  background-size: cover;
  background-position: center;
}

.bg-kyudo-home {
  /* background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('../pictures/slide1-1.jpg'); */
  background-size: cover;
  background-position: center;
}

.bg-kyudo-club {
  background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('../pictures/club_background.JPG');
  background-size: cover;
  background-position: center;
}

.bg-kyudo-equipment {
  background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('../pictures/materiel_background.JPG');
  background-size: cover;
  background-position: center;
}
