{% extends 'base.html.twig' %}

{% block title %}Nouveau club{% endblock %}

{% block body %}
    <h1>Créer un club</h1>

    {{ form(form) }}

    <a class="btn btn-secondary mt-3" href="{{ path('club_index') }}">Retour à la liste</a>
{% endblock %}