name: Deploy to OVH Web Cloud

on:
  push:
    branches:
      - main

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Install Composer dependencies
        run: composer install --optimize-autoloader

      - name: Install public assets
        run: php bin/console asset-map:compile

      - name: Upload via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        env:
            CI: true
            FTP_DEBUG: true
        with:
          protocol: ftp
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./
          server-dir: /www/gm/
          exclude: |
            .git/
            .env*
            tests/
            *.log
            var/cache/dev/
            var/cache/test/
            var/log/

      - name: Execute migrations on server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            pwd
            ls -la
            cd www/gm
            pwd
            ls -la
            cd www/gm && /usr/local/php8.3/bin/php bin/console doctrine:migrations:migrate --no-interaction 

          debug: true
